<div class="container">
<div class="header">


<div class="custom-input">
  <!-- Icon upande wa kushoto -->
 <img src="assets/images/log.png" alt="logo" class="prefix-logo">

  <!-- Input yenyewe -->
  <input type="text" >

  <!-- Button/icon upande wa kulia -->
  <button mat-icon-button class="suffix" (click)="navigateToLogin()">
     <mat-icon svgIcon="login" class="logo-icon"></mat-icon>
  </button>
</div>




</div>
<div class="titleName">
  <h1>Epic Grand Hotel Management System</h1>
  <p>
    Your complete solution for managing rooms, reservations, and hospitality.
  </p>
</div>


<div class="body">
<mat-card class="custom-card">
  <!-- Picha au icon juu -->
  <mat-card-header>
    <mat-icon svgIcon="room" class="app-icon"></mat-icon>
  </mat-card-header>

  <!-- Kichwa katikati -->
  <mat-card-title class="card-title">
    <h4>Huduma kwa Wageni</h4> 
  </mat-card-title>

  <!-- Maelezo chini -->
  <mat-card-content>
    <p>
      Kuanzia mapokezi ya joto hadi huduma bora – tunahakikisha unajisikia kama uko nyumbani.
    </p>
  </mat-card-content>
</mat-card>


<mat-card class="custom-card">
  <mat-card-header>
    <mat-icon svgIcon="bed" class="app-icon"></mat-icon>
  </mat-card-header>

  <mat-card-title class="card-title">
    <h4>Huduma za Vyumba</h4> 
  </mat-card-title>

  <mat-card-content>
    <p>
      Tunatoa huduma za chumba kwa wakati, zenye uhakika wa usafi, faraja na utulivu kwa kila mgeni.
    </p>
  </mat-card-content>
</mat-card>




 <mat-card class="custom-card">
  <mat-card-header>
    <mat-icon svgIcon="food" class="app-icon"></mat-icon>
  </mat-card-header>

  <mat-card-title class="card-title">
    <h4>Huduma za Vyakula</h4> 
  </mat-card-title>

  <mat-card-content>
    <p>
      Jivinjari kwa ladha halisi ya vyakula vya kisasa na vya jadi, vilivyoandaliwa kwa ustadi na upendo kwa kila mgeni.
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="custom-card">
  <mat-card-header>
    <mat-icon svgIcon="bar" class="app-icon"></mat-icon>
  </mat-card-header>

  <mat-card-title class="card-title">
    <h4>Huduma za Baa</h4> 
  </mat-card-title>

  <mat-card-content>
    <p>
      Jiburudishe na vinywaji vya aina mbalimbali katika mazingira tulivu, ya kifahari na yenye huduma ya hali ya juu.
    </p>
  </mat-card-content>
</mat-card>


</div>


</div>

