<div class="login-container">
  <mat-card class="login-card">
   

    <div class="login-icon">
      <img src="assets/icons/logo.png" alt="logo" width="92" height="92">

    </div>

 <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

 <mat-form-field appearance="outline" class="full-width">
  <mat-icon matSuffix svgIcon="password"></mat-icon>
  <mat-label><strong>Old Password:</strong></mat-label>
  <input matInput formControlName="oldPassword" type="password">
</mat-form-field>



 <mat-form-field id="passwordField" appearance="outline" class="full-width">
  <mat-icon matSuffix svgIcon="password"></mat-icon>
  <mat-label><strong>New Password:</strong></mat-label>
  <input matInput formControlName="newPassword" type="password">
  <mat-error *ngIf="newPassword?.hasError('required') && newPassword?.touched">
    Password is required
  </mat-error>
</mat-form-field>


 <mat-form-field id="passwordField" appearance="outline" class="full-width">
  <mat-icon matSuffix svgIcon="password"></mat-icon>
  <mat-label><strong>Confirm Password:</strong></mat-label>
  <input matInput formControlName="confirmPassword" type="password">
  <mat-error *ngIf="confirmPassword?.hasError('required') && confirmPassword?.touched">
    Password is required
  </mat-error>
</mat-form-field>


      <button mat-raised-button color="Accent" class="full-width" type="submit" >
        Change Password
      </button>
    </form>
  </mat-card>
</div>

